{% set nodes = prom_srv_cfg_nodes_resolved | selectattr('kind', 'equalto', 'host') | list %}
{% set node_groups = [] %}
{% for node in nodes %}
{% set _ = node_groups.append({
  "targets": [node.fqdn ~ ':' ~ node.port],
  "labels": {
    "device": node.fqdn,
    "role": node.role,
    "service": node.service,
    "location": node.location,
    "kind": node.kind
  }
}) %}
{% endfor %}
{{ node_groups | tojson(indent=2) }}
