[Unit]
Description=Prometheus node_exporter
After=network-online.target
Wants=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
ExecStart={{ node_exporter_bin }} \
{% for flag in node_exporter_flags %}
    {{ flag }}{{ " \\" if not loop.last }}
{% endfor %}
Restart=on-failure
RestartSec=5

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
RestrictSUIDSGID=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target
